.main__container {
  background: url("/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

[data-theme="dark-theme"] .main__container {
  background: url("/images/bg-desktop-dark.jpg") no-repeat;
  background-size: contain;
}
