* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

[data-theme="dark-theme"] {
  color: $lightGrayish;
  background-color: $darkBlue;
}

.btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #9495a5;
  font-size: 1rem;
  line-height: 1rem;
  font-family: inherit;
}

.btn--theme {
  background: transparent;
  border: none;
}

.btn--clear {
  background: transparent;
  border: none;
}
