.todo {
  width: 100%;
  max-width: 540px;

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7rem 0 0 0;

    &__title {
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 8px;
      font-weight: bold;
    }
  }

  &__header {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 2rem 2.4rem;
    border-radius: 5px;
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
    border: 1px solid $lightGrayish;

    label {
      position: absolute;
      left: -25vw;
    }
  }

  [data-theme="dark-theme"] &__header {
    background: $darkDesaturated;
    color: $lightGrayish;
  }

  &__circle,
  &__check {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    border: 1px solid $darkGrayishBlue;
  }

  &__input {
    background: transparent;
    border: none;
    font-size: 18px;
    margin-left: 16px;
  }

  [data-theme="dark-theme"] &__input {
    background: $darkDesaturated;
    color: $lightGrayish;
    border: none;
  }

  &__input:focus {
    outline: none;
  }

  &__filters {
    &__sides {
      width: 100%;
      background: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 2.4rem;
      border-left: 1px solid $lightGrayish;

      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    [data-theme="dark-theme"] &__sides {
      background: $darkDesaturated;
      color: $lightGrayish;
      border: none;
    }

    &__center {
      background: white;
      padding: 1.9rem 1.4rem;
      display: inline-block;
      position: relative;
      border-bottom: 1px solid $lightGrayish;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      left: 50%;
      transform: translate(-50%, -100%);

      input {
        display: none;
      }
    }

    [data-theme="dark-theme"] &__center {
      background: $darkDesaturated;
      color: $lightGrayish;
      border-bottom: none;
    }
  }

  &__elem--hide {
    display: none;
  }

  &__list {
    border-top: 1px solid $lightGrayish;
    border-left: 1px solid $lightGrayish;
    border-right: 1px solid $lightGrayish;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &__elem {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #e3e4f1;
    padding: 2rem 2.4rem;

    p {
      flex: 1;
      margin-left: 2rem;
      text-decoration: none;
    }
  }

  &__elem--checked &__check {
    background: linear-gradient(to right, #55ddff, #c058f3);
  }

  &__elem--checked p {
    text-decoration: line-through;
  }

  [data-theme="dark-theme"] &__elem {
    background: $darkDesaturated;
    color: $lightGrayish;
  }
}
